body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 20px;
    background-color: rgb(245, 220, 244);
    background-image: url(cookie2.jpg);
    background-size: cover;
    background-repeat: no-repeat;
}

h1 {
    text-align: center;
    color: rgb(134, 75, 12);
    font-family: Rubik Bubbles;
    color: rgb(134, 75, 12);
}

form {
    max-width: 400px;
    margin: 0 auto;
}

label {
    margin-top: 5px;
    display: block;
}

input[type="text"],
input[type="number"],
select {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    box-sizing: border-box;
}

input[type="submit"] {
    width: 100%;
    background-color: #4caf4f8a;
    color: white;
    padding: 14px 20px;
    margin-top: 5px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 30px;
    padding-left: 30px;
    border-radius: 120px;
    font-size: 35px;
    margin-left: 0px;
    color: white;
    background-color: rgba(122, 41, 41, 0.661);
    font-family: Roboto Condensed;
    box-shadow: 3px 3px 3px rgba(94, 7, 7, 0.651);
    border: none;
    cursor: pointer;
    text-align: center;
    transition: opacity 0.20s;
    text-decoration: none;
}

input[type="submit"]:hover {
    background-color: #45a049b9;
}